{% extends "master.html" %}

{% block title %}
Detail - {{ inventory.item_name }}
{% endblock %}

{% block content %}
<div class="container">
  <h1>Item detail</h1>
  <form>
    <div class="mb-3">
      <label for="item_name" class="form-label">Item Name</label>
      <input type="text" class="form-control" id="item_name" value="{{inventory.item_name}}" readonly>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" id="category" value="{{inventory.category}}" readonly>
    </div>
    <div class="mb-3">
      <label for="sku" class="form-label">SKU</label>
      <input type="text" class="form-control" id="sku" value="{{inventory.sku}}" readonly>
    </div>
    <div class="mb-3">
      <label for="unit" class="form-label">Unit</label>
      <input type="text" class="form-control" id="unit" value="{{inventory.unit}}" readonly>
    </div>
    <div class="mb-3">
      <label for="unit_price" class="form-label">Unit Price</label>
      <input type="text" class="form-control" id="unit_price" value="{{inventory.unit_price}} VND" readonly>
    </div>
    <div class="mb-3">
      <label for="supplier_code" class="form-label">Supplier</label>
      <input type="text" class="form-control" id="supplier_code" value="{{inventory.supplier}}" readonly>
    </div>
    <a class="btn btn-primary" href="/inventories">Back to Inventories</a>
  </form>

</div>
{% endblock %}