{% extends "master.html" %}
{% load custom_filter %}
{% block title %}
Detail - {{ inventory.item_name }}
{% endblock %}

{% block content %}
<style>
  .inventory-list {
    border-right: 1px solid var(--bs-border-color);
  }

  .form-label {
    text-transform: capitalize;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-3 inventory-list">
      <br>
      <h5 class="text-center">All item</h5>
      <hr>
      <ul class="list-group list-group-flush">
        {% for x in inventories|dictsort:"item_name" %}

        <a href="{{x.slug}}"
          class="{% if inventory.slug == x.slug %}active{% endif %} list-group-item list-group-item-action">{{x.item_name}}</a>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-9">
      <br>
      <h5 class="text-center">Item detail</h5>
      <hr>
      <form>
        {% for key, value in inventory %}
        <div class="mb-3">
          <label for="item_name" class="form-label">{{key|replace_underscores }}</label>
          <input type="text" class="form-control" id="item_name" value="{{value}}" readonly>
        </div>
        {% endfor %}
        <a class="btn btn-primary" href="{% url 'inventories:inventories' %}">Back to Inventories</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}