{% extends "master.html" %}

{% load custom_filter %}
{% block title %}
Detail - {{ inventory.item_name }}
{% endblock %}

{% block content %}
<style>
  .form-label {
    text-transform: capitalize;
  }
</style>
<div class="container">
  <div class="row">
    <div class="column column-20 inventory-list">
      <br>
      <h5 class="text-center">All item</h5>
      <hr>
      <ul class="list-group list-group-flush">
        {% for x in inventories|dictsort:"item_name" %}
        <li class="{% if inventory.slug == x.slug %}active{% endif %}"><a href="{{x.slug}}"
            class=" list-group-item list-group-item-action">{{x.item_name}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="column column-80">
      <br>
      <h5 class="text-center">Item detail</h5>
      <hr>
      <form>
        {% for key, value in inventory %}
        <div class="mb-3">
          <label for="item_name" class="form-label">{{key|replace_underscores }}</label>
          <input type="text" class="form-control" id="item_name" value="{{value}}" readonly>
        </div>
        {% endfor %}
        <a class="button button-outline" href="{% url 'inventories:inventories' %}"><span class="pln">Back to Inventories</span></a>
      </form>
    </div>
  </div>
</div>
{% endblock %}