{% extends "master.html" %}
{% load l10n %}
{% block title %}
Inventory list
{% endblock %}
{% block content %}
<div class="container">
  <h1>Inventory List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Item name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Supplier</th>
      </tr>
    </thead>
    <tbody>
      {% for x in inventories|dictsort:"item_name" %}
      <tr>
        <td><a href='detail/{{ x.slug }}'>{{ x.item_name }}</a></td>
        <td>{{ x.category }}</td>
        <td style="text-align: left;">{{ x.unit_price|localize }} ({{x.unit}})</td>
        <td><a href="{% url 'suppliers:detail' x.supplier.slug %}">{{ x.supplier }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}