{% extends "master.html" %}
{% load custom_filter %}

{% block title %}
Detail - {{ supplier.name }}
{% endblock %}

{% block content %}
<style>
 .form-label {
  text-transform: capitalize;
 }
</style>
<div class="container">
 <div class="row">
  <div class="column column-20 supplier-list">
   <br>
   <h5 class="text-center">All item</h5>
   <hr>
   <ul class="list-group list-group-flush">
    {% for x in suppliers|dictsort:"name" %}
    <li class="{% if supplier.slug == x.slug %}active{% endif %}"><a href="{{x.slug}}"
      class="{% if supplier.slug == x.slug %}active{% endif %} list-group-item list-group-item-action">{{x.name}}</a>
    </li>

    {% endfor %}
   </ul>
  </div>
  <div class="column column-80">
   <br>
   <h5 class="text-center">Item detail</h5>
   <hr>
   <form>
    {% for key, value in supplier %}
    <div class="mb-3">
     <label for="item_name" class="form-label">{{key|replace_underscores }}</label>
     <input type="text" class="form-control" id="item_name" value="{{value}}" readonly>
    </div>
    {% endfor %}
    <a class="button button-outline" href="{% url 'suppliers:suppliers' %}"><span class="pln">Back to Suppliers</span></a>
   </form>
  </div>
 </div>
</div>
{% endblock %}